<md-toolbar>
	<div class="md-toolbar-tools">
		<md-icon flex="5" md-svg-icon="{{$ctrl.icon}}" layut="row" data-ng-if="$ctrl.icon"></md-icon>
		<h2 flex md-truncate data-ng-click="$ctrl.openMenu()">{{$ctrl.Name}}</h2>
		<!-- <md-button class="md-icon-button" aria-label="Zone" ng-disabled="false" data-ng-if="false">
		<md-icon md-svg-icon="thermostat" layut="row"></md-icon>
		</md-button>
		<md-icon md-svg-icon="thermostat" layut="row"></md-icon>
		<md-button class="md-icon-button" aria-label="Zones" ng-disabled="false" data-ng-if="true">
			<md-icon md-svg-icon="thermometer" layut="row"></md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="Sensors" ng-disabled="false" data-ng-if="true">
			<md-icon md-svg-icon="rooms" layut="row"></md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="Relays" ng-disabled="false" data-ng-if="true">
			<md-icon md-svg-icon="switch" layut="row"></md-icon>
		</md-button> -->
	</div>
</md-toolbar>